

/* ### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400 */


:root{
    background-color: black;
    --Violet-color: hsl(257, 40%, 49%);
    --Soft-Magenta-color: hsl(300, 69%, 71%);
    
}
body{
    overflow: hidden;
    max-width: 1440px;

}
.bg-image {
    background: linear-gradient(to top, #3204fdba, #240539cc),url("./images/bg-desktop.svg") no-repeat fixed;
    /* background-color: blue;  */
    
   
    width: 100vw;
    height: 100vh;
    
    }
.round{
    /* margin-top:30px; */
    background-color: rgb(248, 244, 244);
    /* width: 150px;
    height: 50px; */
    color: #240539cc;;
    display: flex;
	padding: 0;
	width: 150px;
	height: 40px;
	border: 2px solid white;
	border-radius: 40px;
    line-height: 22px;
    justify-content: center;
    align-items: center;
    

 
}
h1{
    font-family: 'Poppins', sans-serif; 
    padding-top: 125px;
  
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;

}
.head{
    font-size: 32px;
    font-weight: 600;
}
i{
    border: solid white 1px ;
    border-radius: 50%;
    padding: 8px;
    margin-top: 250px;
    height: auto;
    
}
.logo{
    height:auto;
    width: 16%;
}
.mockups{
    width:49vw;
    margin-top: 27px;
    position: fixed;
}
.attribution { 
    font-size: 11px; 
    text-align: center ;
    }
.attribution a { 
    color: hsl(228, 45%, 44%) 
}